.heading-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 3vh;
  margin-top: 2.5rem;
  margin-bottom: -5.5rem;
}

.heading-row {
  font-size: 3rem;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
}

@-webkit-keyframes glow {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff;
  }

  to {
    text-shadow:
      0 0 10px #676060,
      0 0 20px #676060,
      0 0 40px #676060;
  }
}
